.screen-area, .screen-area-with-canvas {
  border-top: 1px solid lightgray;
  width: 100%;
  position: absolute;
  right: 0;
  flex-wrap: wrap;
  background-color:white;
  top: 70%;
}

.submit-button {
  position: absolute;
  bottom: 7%;
  right: 2%;
  cursor: pointer;
}
